{% extends 'layout.html' %}

{% block title %}Events{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12 m-5 d-flex justify-content-center"><h2> Welcome! {{ form.username }} </h2></div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            {% for event in form.events %}
            <div>
                <h2>Name: {{ event.0 }}</h2>
                <div>
                    <a href="{{ url_for('update', id=event.7) }}">Update</a>
                    <a href="{{ url_for('delete', id=event.7) }}">Delete</a>
                </div>
                <p>Category:{{ event.1 }}</p>
                <p>Place:{{ event.2 }}</p>
                <p>Address:{{ event.3 }}</p>
                <p>Modality:{{ event.4 }}</p>
                <p>Start Date:{{ event.5 }}</p>
                <p>End Date:{{ event.6 }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <form action="{{ url_for('create') }}" method="POST">
                <div class="my-2"><input type="text" name="name" placeholder="Name"></div>
                <div class="my-2">
                    <select name="category">
                        {% for category in form.drop_category %}
                            <option value= "{{category}}" SELECTED>{{category}}</option>"
                        {% endfor %}
                    </select>
                </div>
                <div class="my-2"><input type="text" name="place" placeholder="place"></div>
                <div class="my-2"><input type="text" name="address" placeholder="address"></div>
                <div class="my-2"><select name="modality">
                    {% for modality in form.drop_modality %}
                        <option value= "{{modality}}" SELECTED>{{modality}}</option>"
                    {% endfor %}
                </select></div>
                <div class="my-2"><input type="date" name="start_date" placeholder="start_date"></div>
                <div class="my-2"><input type="date" name="end_date" placeholder="end_date"></div>
        
                <button class="bbtn btn-primary my-3 px-5 border border-primary rounded-lg">Save</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    
{% endblock %}