{% extends 'layout.html' %}

{% block title %}Events{% endblock %}

{% block main %}
    <h2> Bienvenido! {{ show_vars.username }} </h2>
    <form action="{{ url_for('create') }}" method="POST">
        <input type="text" name="name" placeholder="Name"></div>
        <input type="text" name="category" placeholder="category"></div>
        <input type="text" name="place" placeholder="place"></div>
        <input type="text" name="modality" placeholder="modality"></div>
        <input type="text" name="address" placeholder="address"></div>
        <input type="date" name="start_date" placeholder="start_date"></div>
        <input type="date" name="end_date" placeholder="end_date"></div>
        <button>Save</button>
    </form>
    <div>
        {% for event in show_vars.events %}
        <div>
            <h2>{{ event.0 }}</h2>
            <div>
                <a href="{{ url_for('update', id=event.7) }}">Update</a>
                <a href="{{ url_for('delete', id=event.7) }}">Delete</a>
            </div>
            <p>{{ event.1 }}</p>
            <p>{{ event.2 }}</p>
            <p>{{ event.3 }}</p>
            <p>{{ event.4 }}</p>
            <p>{{ event.5 }}</p>
            <p>{{ event.6 }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}