{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block main %}
    <div class="row">
        <h2 class="col-md-12 mx-auto d-flex justify-content-center">Login</h2>
        <div class="col-md-2"></div>
        <div class="col-md-3 border border-primary rounded-lg d-flex justify-content-center">
            <form action="{{ url_for('login') }}" method="POST">
                {{ form.form.hidden_tag() }}
                <div class="mt-5">
                    {{form.form.username.label}}<br>
                    {{form.form.username(size=30)}}
                </div>
                <div class="mb-2">
                    {{form.form.password.label}}<br>
                    {{form.form.password(size=30)}}
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="bbtn btn-primary my-3 px-5 border border-primary rounded-lg">Sign in</button>
                </div>
            </form>
        </div>
        <div class="col-md-5 p-5">
            <p class="text-justify">La aplicación "Administrador de eventos deportivos" está diseñada para ayudar a los organizadores de eventos deportivos a administrar y planificar sus eventos de forma eficiente. Esta aplicación ofrece una variedad de herramientas útiles para los organizadores de eventos deportivos, desde la planificación de rutas, la gestión de participantes, la gestión de recursos, la gestión de inscripciones e incluso la generación de informes. <br><br>
            Con esta aplicación, los organizadores de eventos deportivos pueden crear y administrar fácilmente todos los aspectos de su evento, desde la planificación de la ruta hasta la selección de participantes. La aplicación permite a los organizadores crear y publicar eventos, gestionar participantes, gestionar recursos y realizar insc</p>
        </div>
        <div class="col-md-2 m-5"></div>
    </div>
{% endblock %}