{% extends './layout.html' %}

{% block title %}Singup{% endblock %}

{% block main %}
    <h2">Sign Up</h2>
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.form.hidden_tag() }}
        <div>
            {{form.form.email.label}}<br>
            {{form.form.email(size=30)}}
        </div>
        <div>
            {{form.form.username.label}}<br>
            {{form.form.username(size=30)}}
        </div>
        <div>
            {{form.form.password.label}}<br>
            {{form.form.password(size=30)}}
        </div>
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}