{% extends 'layout.html' %}

{% block title %}Update{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center"><h2> Update Event</h2></div>
        <div class="col-md-12 d-flex justify-content-center">
            <form action="{{ url_for('update', id=form.event.id) }}" method="POST">
                <div>Name: <input class="my-2" type="text" name="name" placeholder="Name" value="{{form.event.name}}"></div>
                <div>Category: <input class="my-2" type="text" name="category" placeholder="category" value="{{form.event.category}}"></div>
                <div>Place: <input class="my-2" type="text" name="place" placeholder="place" value="{{form.event.place}}"></div>
                <div>Modality: <input class="my-2" type="text" name="modality" placeholder="modality" value="{{form.event.modality}}"></div>
                <div>Address: <input class="my-2" type="text" name="address" placeholder="address" value="{{form.event.address}}"></div>
                <div>Start Date: <input class="my-2" type="date" name="start_date" placeholder="start_date" value="{{form.event.start_date}}">
                    {{form.event.start_date}}</div>
                <div>End Date: <input type="date" name="end_date" placeholder="end_date" value="{{form.event.end_date}}">
                    {{form.event.end_date}}</div>
                <button class="bbtn btn-primary my-3 px-5 border border-primary rounded-lg">Save</button>
            </form>
        </div>
    </div>
{% endblock %}